@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "DM Sans", sans-serif;
}

